
body {
    background-color: rgb(52, 52, 52);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#task-input {
    height: 33px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding-left: 10px;
    margin-right: 10px;
}

#task-input:focus {
    border: none;
    outline: none;
}

.container-1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

#task-list {
    padding-left: 10px;
}

