* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #f4f6f8;
  }
  
  header {
    background-color: #2c7be5;
    color: white;
    padding: 20px;
    text-align: center;
  }

  header.light-mode {
    background-color: #2c7be5;
    color: white;
  }
  
  header.dark-mode {
    background-color: #1d1d1d;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .report-form {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
  
  .report-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #1a68d1;
  }
  

.container.dark-mode .report-form {
  background-color: #333;
  color: white;
}

.container.dark-mode {
    background-color: #272727;
    color: white;
  }

  body.dark-mode {
    background-color: #272727;
    color: white;
  }

.container.light-mode {
    background-color: #f4f6f8;
    color: #333;
}

.toggle-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #242424;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.toggle-button:hover {
    background-color: #545454;
    cursor: pointer;
}